#Italien{
    width: 250px;
    height: 150px;
 position: relative;
 border: 2px solid black; 
}
#Italien .Vert{
position: absolute;
background-color: green;
right: 66%;
left: 0%;
top: 0;
bottom: 0;
}
#Italien .Blanc{
position: absolute;
background-color: white;
right: 33%;
left: 33%;
top: 0;
bottom: 0;
}
#Italien .Rouge{
position: absolute;
background-color: red;
right: 0%;
left: 66%;
top: 0;
bottom: 0;
}
#Maroc{
    width: 250px;
    height: 150px;
    position: relative;
    border: 2px solid black;
}
#Maroc .Rouge{
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: red;
    position: absolute;
    z-index: 1;
}
#Maroc img{
    z-index: 2;
    position: absolute;
    top: 33%;
    right: 40%;
    margin: 0;
    transform: translate(-50% -50%);
}
img{
    height: 50px;
    right: 50px;
}
