         /*  Header - 1  */
         /*  Main - 2    */
         /*  Footer - 3  */

         /*  Header - 1  */

         *{
            padding: 0;
            margin: 0;
         }

         header>div {
            background-color: #1B2430;
         }

         header>div>div{
            display: flex;
            justify-content: space-between;
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
         }

         #Logodusite {
            width: 50px;
            height: 45px;
         }

         header nav ul {
            display: flex;
            justify-content: flex-end;
            margin: 0;
         }

         header nav li {
            list-style: none;
         }

         header nav a {
            display: block;
            padding: 41px 16px;
            text-decoration: none;
            color: white;
            font-size: 17px;
         }

         #ImageHeader {
            width: 100%;
            height: 304px;
            object-fit: cover;
         }

         /*  Main - 2    */
         
         body{
            background-color: #F6F6F6;
         }

         main h2 {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 36px;
            padding-bottom: 5px;
         }

         .Planete {
            width: 300px;
            height: 283px;
            padding-right: 127px;
         }

         .Planete2 {
            width: 300px;
            height: 283px;
            padding-left: 95px;
         }

         article {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            margin-top: 55px;
            margin-bottom: 55px;
         }

         article p {
            text-align: justify;
            font-size: 20px;
            padding-top: 20px;
            font-size: 20px;
         }

         .Article2 {
            display: flex;
            flex-direction: row-reverse
         }

         .span1 {
            background: #D6D5A8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: black;
            padding: 10px;
            border-radius: 10px;
         }

         .span2 {
            background: #1B2430;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: white;
            padding: 10px;
            border-radius: 10px;
         }

         .span3 {
            background: linear-gradient(180deg, #816797 0%, #51557E 100%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: white;
            padding: 10px;
            border-radius: 10px;
         }

         .span4 {
            background: #1B2430;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: white;
            padding: 10px;
            border-radius: 10px;
         }
         
         .hr{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            position: relative;
            width: fit-content;
            margin: 0 auto;
            text-transform: uppercase;
            font-size: 30px;
      
         }

         .hr::before{
            position: absolute;
            content: "";
            background-color: black;
            width: 392px;
            height: 1px;
            top: 50%;
            left: 347px;
         }

         .hr::after{
            position: absolute;
            content: "";
            background-color: black;
            width: 392px;
            height: 1px;
            top: 50%;
            right: 347px;
            }

         /*  Footer - 3  */

         footer{
            background-color: #1B2430;
         }
         
         footer>div{  
            display: flex;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
         }

         footer div p{
            color: white;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
         }
         
         footer div a{
            color: white;
            text-decoration: none;
         }

         footer div h3{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: white;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 25px;
         }

         .hr2::before{
            position: absolute;
            content: "";
            left: 40%;
            width: 1px;
            height: 210px;
            background-color: white;
         }

         .hr2::after{
            position: absolute;
            content: "";
            right: 39%;
            width: 1px;
            height: 210px;
            background-color: white;
         }

         footer>p{
            color: white;
            text-align: center;
            padding-top: 20px;
         }

         .hr3::before{
            position: absolute;
            content: "";
            background-color: white;
            width: 392px;
            height: 1px;
            top: 80%;
            right: 347px;
            }
